{% extends 'base.html.twig' %}
{% block body %}
    {% include 'includes/header.html.twig' %}
    <div class="main">
        {% for resume in resumes %}
            {% if userInfo.activeRole.isCustomer %}
                {% set is_new = not resume.isRead %}
                {% set resume = resume.resume %}
            {% endif %}
            <a href="{{ path('resume_detail', {'id': resume.id }) }}">
                <div class="resume">
                    <div class="block-resume">
                        <span>{{ resume.getVacancy().name }}</span>
                        <span class="resume-fio">{{ resume.getFullNameInitials() }}</span>
                        <span></span>
                    </div>
                    <img alt="123" class="resume-img">
                    <div class="block-resume">
                        <span class="is-new-resume">{% if is_new %} New! {% endif %}</span>
                        <span></span>
                        <span>
                            {{ resume.getLastStatus().status.name }} {{ resume.getLastStatus().date|date('d.m.y') }}
                        </span>
                    </div>
                </div>
            </a>
        {% endfor %}
        {% if not userInfo.activeRole.isCustomer %}
            <a href="{{ path('add_resume') }}">
                <button>
                    Добавить резюме
                </button>
            </a>
        {% endif %}
    </div>
{% endblock %}