{% extends 'base.html.twig' %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            {% if not (app.request.get('vacancy') or app.request.get('status')) %}
                $('#filters').hide()
            {% endif %}

        });

        function changeFilter() {
            $('#filters').stop().fadeToggle(0);
        }
    </script>
{% endblock %}
{% block body %}
    {% include 'includes/header.html.twig' with {'is_main': true } %}
    <div class="main">
        <div class="resume-filters" id="filters">
            <form>
                <div class="title">
                    <span>Фильтрация</span>
                </div>
                <div class="filter">
                    <div>
                        <label>
                            Вакансия
                        </label>
                        <select name="vacancy">
                            <option value="0">---</option>
                            {% for vacancy in vacancies %}
                                <option value="{{ vacancy.id }}"
                                        {% if vacancy.id == app.request.get('vacancy') %}
                                            selected
                                        {% endif %}>
                                    {{ vacancy.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label>
                            Статус
                        </label>
                        <select name="status">
                            <option value="0">---</option>
                            {% for status in statuses %}
                                <option value="{{ status.id }}"
                                        {% if status.id == app.request.get('status') %}
                                            selected
                                        {% endif %}>
                                    {{ status.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <button type="submit">Показать</button>
            </form>
        </div>
        {% for resume in resumes %}
            {% set is_new = false %}
            {% if userInfo.activeRole.isCustomer %}
                {% set is_new = not resume.isRead %}
                {% set resume = resume.resume %}
            {% endif %}
            <a href="{{ path('resume_detail', {'id': resume.id }) }}">
                <div class="resume">
                    <div class="block-resume">
                        <span>{{ resume.getVacancy().name }}</span>
                        <span class="resume-fio">{{ resume.getFullNameInitials() }}</span>
                        <span></span>
                    </div>
                    {% if resume.photo %}
                        {% set photo_url = 'assets/img/resume/' ~ resume.photo %}
                    {% else %}
                        {% set photo_url = 'assets/img/no_photo.png' %}
                    {% endif %}
                    <img class="resume-img" src="{{ asset(photo_url) }}">
                    <div class="block-resume">
                        <span class="is-new-resume">{% if is_new %} New! {% endif %}</span>
                        <span></span>
                        <span>
                            {{ resume.getLastStatus().status.name }} {{ resume.getLastStatus().date|date('d.m.y') }}
                        </span>
                    </div>
                </div>
            </a>
        {% endfor %}
        {% if userInfo.activeRole.isHR %}
            <a href="{{ path('add_resume') }}">
                <button>
                    Добавить резюме
                </button>
            </a>
        {% endif %}
    </div>
{% endblock %}