{% extends 'base.html.twig' %}

{% block body %}
    {% include 'includes/header.html.twig' %}
    <div class="main statistic">
        <div>
            <form>
                <div class="title">
                    <span>Анализ данных</span>
                </div>
                <div class="filters">
                    <div>
                        <label>
                            <span>За период:</span>
                        </label>
                        <input type="datetime-local" name="start" value="{{ app.request.get('start') }}">
                        -
                        <input type="datetime-local" name="end" value="{{ app.request.get('end') }}">
                    </div>
                    <div>
                        <label>
                            <span>Вакансии</span>
                        </label>
                        <select name="vacancy">
                            <option value="0">---</option>
                            {% for vacancy in vacancies %}
                                <option value="{{ vacancy.id }}"
                                        {% if vacancy.id == app.request.get('vacancy') %}
                                selected
                                        {% endif %}>
                                    {{ vacancy.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="button" onclick="showStatistic()">
                    <button>Показать</button>
                </div>
            </form>
        </div>
        <div class="info">
            <div>
                <label>
                    Всего резюме
                </label>
                <span>{{ result.all }}</span>
            </div>
            <div>
                <label>
                    Приглашений
                </label>
                <span>{{ result.invite }}</span>
            </div>
            <div>
                <label>
                    Отказов
                </label>
                <span>{{ result.refusing }}</span>
            </div>
            <div>
                <label>
                    Средняя оценка HR
                </label>
                <span>{{ result.averageHR }}</span>
            </div>
            <div>
                <label>
                    Средняя оценка заказчика
                </label>
                <span>{{ result.averageCustomer }}</span>
            </div>
        </div>
    </div>
{% endblock %}