{% extends 'base.html.twig' %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $(".navbar-toggler").hide();
            $(".navbar-dark").click(
                function(){
                    $(".navbar-toggler").stop().fadeToggle(0);}
            );

            $('.js-example-basic-multiple').select2();

            $('#changeStatus').change(function () {
                $.ajax({
                    url: "{{ path('resume_change_status') }}",
                    data: {
                        status: this.selectedOptions[0].value,
                        resume: {{ resume.id }},
                    },
                    method: 'POST',
                    success: function () {
                        // Просто галочку нарисовать на время?
                        location.reload();
                    }
                })
            })

        });

        function addComment(e) {
            let form = $('#addComment');
            let data = form.serializeArray();
            form.validate({
                rules: {
                    comment: {
                        required: true,
                    },
                    status: {
                        required: true,
                    }
                },
                submitHandler: function(form) {
                    form.reset();
                    $.ajax({
                        url: "{{ path('add_comment') }}",
                        data: data,
                        method: 'POST',
                        success: function (data, status) {
                            data = JSON.parse(data);
                            // Текстовое сообщение
                            let newBlock = $('.example').clone()[0];
                            let date = new Date(data['date'])
                            newBlock.getElementsByTagName('textarea')[0].innerText = data['comment'];
                            newBlock.querySelectorAll('#role')[0].innerText = data['roleName'];
                            newBlock.querySelectorAll('#date')[0].innerText = date.toLocaleDateString();
                            newBlock.querySelectorAll('#status')[0].innerText = data['statusName'];
                            let rating = newBlock.getElementsByClassName('rating-mini');
                            let stars = $(rating).children()
                            for (let i = 0; i < data['score']; i ++) {
                                $(stars[i]).addClass('active');
                            }
                            $(newBlock).prependTo(".resume-all-comments");
                            $(newBlock).removeClass('example')
                        }
                    })
                },
                errorPlacement: function (error, item) {
                }
            });
        }

        function sendResume() {
            let data = {
                'owners': $('.modal-body select').val(),
                'resume': {{ resume.id }},
            }
            debugger;
            $.ajax({
                url: "{{ path('send_resume') }}",
                data: data,
                method: 'POST',
                success: function (data, status) {
                    $('#sendOwnerModal').modal('hide');
                    $('.modal-body select').val(null).trigger('change');
                }
            })
        }

        function inviteToMeet() {
            let data = {
                'users': $('#inviteToMeet .modal-body select').val(),
                'resume': {{ resume.id }},
                'date': $('#dateMeet').val(),
            }
            debugger;
            $.ajax({
                url: "{{ path('invite') }}",
                data: data,
                method: 'POST',
                success: function (data, status) {
                    $('#inviteToMeet').modal('hide');
                    $('.modal-body select').val(null).trigger('change');
                }
            })
        }

        function deleteResume() {
            $.ajax({
                url: "{{ path('resume_delete', {id: resume.id}) }}",
                method: 'DELETE',
                success: function (data, status) {
                    document.location.href = "{{ path('main') }}";
                }
            });
        }

    </script>
{% endblock %}

{% block body %}
    {% include 'includes/header.html.twig' %}
    <div class="main">
        <div class="resume-buttons">
            <div></div>
            <div>
                <button data-toggle="modal" data-target="#inviteToMeet">Пригласить</button>
                <button>Отказать</button>
            </div>
            <div class="navbar-dark">
                <span class="navbar-toggler-icon"></span>
            </div>
            <div class="navbar-toggler">
                <ul class="submenu">
                    <li><span data-toggle="modal" data-target="#sendOwnerModal">
                        Отправить заказчику
                    </span></li>
                    <li onclick="deleteResume()">Удалить</li>
                </ul>
            </div>
        </div>
        <div class="resume-info">
            <div>
                {% if resume.photo %}
                    {% set photo_url = 'assets/img/resume/' ~ resume.photo %}
                {% else %}
                    {% set photo_url = 'assets/img/no_photo.png' %}
                {% endif %}
                <img src="{{ asset(photo_url) }}" class="resume-img">
                <span>{{ resume.getFullName() }}</span>
                <span>{{ resume.getAge() }} лет</span>
            </div>
            <div>
                <span> {{ resume.getVacancy().name }} <br> {{ resume.wage }} </span>
                <span></span>
            </div>
            <div></div>
            <div>
                <span></span>
                <span></span>
                <div>
                    <select id="changeStatus" class="select-status">
                        {% for status in statuses %}
                            <option value="{{ status.id }}"
                                    {% if resume.getLastStatus() and status.id == resume.getLastStatus().status.id %}
                                        selected
                                    {% endif %}>
                                {{ status.name }}
                            </option>
                        {% endfor %}
                    </select>
                    <span>{{ resume.getLastStatus().date|date('d.m.y') }}</span>
                </div>
            </div>
        </div>
        <div class="resume-comments">
            <div class="resume-add-comments">
                <form method="post" id="addComment">
                    <div>
                        <div>
                            <span>Ваша оценка: </span>
                            <div class="rating-area">
                                <input type="radio" id="star-5" name="rating" value="5">
                                <label for="star-5" title="Оценка «5»"></label>
                                <input type="radio" id="star-4" name="rating" value="4">
                                <label for="star-4" title="Оценка «4»"></label>
                                <input type="radio" id="star-3" name="rating" value="3">
                                <label for="star-3" title="Оценка «3»"></label>
                                <input type="radio" id="star-2" name="rating" value="2">
                                <label for="star-2" title="Оценка «2»"></label>
                                <input type="radio" id="star-1" name="rating" value="1">
                                <label for="star-1" title="Оценка «1»"></label>
                                <input type="radio" id="star-0" name="rating" checked value="0">
                            </div>
                        </div>
                        <div>
                            <select name="status">
                                <option></option>
                                {% for status in statuses %}
                                    <option value="{{ status.id }}">{{ status.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="resume-comment-text">
                        <textarea name="comment"></textarea>
                    </div>
                    <input hidden type="number" value="{{ resume.id }}" name="resume">
                    <button type="submit" onclick="addComment()">
                        Добавить оценку
                    </button>
                </form>
            </div>
            <div class="resume-all-comments">
                <div class="block example">
                    <div>
                        <div>
                            <span> Оценка <span id="role"></span>: </span>
                            <div class="rating-mini">
                                {% for i in range(1, 5) %}
                                    <span></span>
                                {% endfor %}
                            </div>
                        </div>
                        <div>
                            <span id="status"></span>
                        </div>
                    </div>
                    <div class="resume-comment-text">
                        <textarea id="comment" disabled></textarea>
                    </div>
                    <div>
                        <span></span>
                        <span id="date"></span>
                    </div>
                </div>
                {% for rating in ratings %}
                <div class="block">
                    <div>
                        <div>
                            <span> Оценка {{ rating.role }}: </span>
                            <div class="rating-mini">
                                {% for i in range(1, 5) %}
                                    <span {% if i <= rating.score %} class="active" {% endif %}></span>
                                {% endfor %}
                            </div>
                        </div>
                        <div>
                            <span>{{ rating.status.name }}</span>
                        </div>
                    </div>
                    <div class="resume-comment-text">
                            <textarea id="comment" disabled>{{ rating.comment }}</textarea>
                    </div>
                    <div>
                        <span></span>
                        <span>{{ rating.date|date('d.m.y') }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="modal fade" id="sendOwnerModal" tabindex="-1" role="dialog" aria-labelledby="sendOwnerModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Отправить заказчика</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <span>Выберите заказчиков, которым хотите отправить:</span>
                        <select class="js-example-basic-multiple" name="states[]" multiple="multiple">
                            {% for owner in owners %}
                                <option value="{{ owner.id }}">{{ owner.fullName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal">Close</button>
                        <button onclick="sendResume()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="inviteToMeet" tabindex="-1" role="dialog" aria-labelledby="inviteToMeetTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Пригласить на встречу</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <span>Выберите, кого хотите пригласить:</span>
                        <select class="js-example-basic-multiple" name="states[]" multiple="multiple">
                            {% for user in users %}
                                <option value="{{ user.id }}">{{ user.fullName }}</option>
                            {% endfor %}
                        </select>
                        <div>
                            <label>Дата и время</label>
                            <input type="datetime-local" name="dateMeet" id="dateMeet">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal">Close</button>
                        <button onclick="inviteToMeet()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}