<script>
    $(document).ready(function () {
        $('#changeRoles').change(function () {
            $.ajax({
                url: "{{ path('change_role') }}",
                data: {role: this.selectedOptions[0].value},
                method: 'POST',
                success: function () {
                    location.reload();
                }
            })
        })
    })
</script>
<div class="header">
    <a href="{{ path('main') }}"><span>{{ userInfo.user.initials }}</span></a>
    {% if is_main|default(null) %}
        <a href="{{ path('show_statistic') }}">
            <span><img width="40" height="40" src="{{ asset('assets/img/statistic.png') }}"></span>
        </a>
        <span><img width="40" height="40" src="{{ asset('assets/img/filter.png') }}"></span>
    {% endif %}
    <select id="changeRoles" class="select-roles">
        {% for role in userInfo.roles %}
            <option value="{{ role.id }}" {% if role == userInfo.activeRole %} selected {% endif %}>
                {{ role.name }}
            </option>
        {% endfor %}
    </select>
</div>